/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
/*
=============== 
Variables
===============
*/

:root {
  --list-theme-blue-primary-0: #2564cf;
  --list-theme-blue-primary-10: #2564cf;
  --list-theme-blue-primary-20: #2564cf;
  --list-theme-blue-contrast-highlight-quick-fix: #2e5cdb;
  --list-theme-blue-top: #765ee6;
  --list-theme-blue-bottom: #1c9fff;
  --list-theme-blue-top-minimized: #525bea;
  --list-theme-blue-bottom-minimized: #4672de;
  --list-theme-red-primary-0: #b24642;
  --list-theme-red-primary-10: #d2534e;
  --list-theme-red-primary-20: #d3411b;
  --list-theme-red-contrast-highlight-quick-fix: #c23732;
  --list-theme-red-top: #e84f53;
  --list-theme-red-bottom: #ebbd94;
  --list-theme-red-top-minimized: #e26165;
  --list-theme-red-bottom-minimized: #e17765;
  --list-theme-purple-primary-0: #673aa2;
  --list-theme-purple-primary-10: #7a45bf;
  --list-theme-purple-primary-20: #7651d1;
  --list-theme-purple-contrast-highlight-quick-fix: #7943bf;
  --list-theme-purple-top: #954db0;
  --list-theme-purple-bottom: #7159f0;
  --list-theme-purple-top-minimized: #8752ca;
  --list-theme-purple-bottom-minimized: #7657e8;
  --list-theme-green-primary-0: #4e8c26;
  --list-theme-green-primary-10: #5ca52d;
  --list-theme-green-primary-20: #408226;
  --list-theme-green-contrast-highlight-quick-fix: #3b7a14;
  --list-theme-green-top: #51a03e;
  --list-theme-green-bottom: #aadf5d;
  --list-theme-green-top-minimized: #5ba741;
  --list-theme-green-bottom-minimized: #75ba4a;
  --list-theme-skyblue-primary-0: #1c76c5;
  --list-theme-skyblue-primary-10: #228be8;
  --list-theme-skyblue-primary-20: #007acd;
  --list-theme-skyblue-contrast-highlight-quick-fix: #136dbd;
  --list-theme-skyblue-top: #558deb;
  --list-theme-skyblue-bottom: #53d2e5;
  --list-theme-skyblue-top-minimized: #548deb;
  --list-theme-skyblue-bottom-minimized: #54a7e9;
  --bg-primary: #fff;
  --bg-secondary: #faf9f8;
  --bg-tertiary: #f0f0ef;
  --bg-primary-accent: #faf9f8;
  --bg-hover: #f5f5f5;
  --bg-hover-secondary: #fdfdfd;
  --bg-hover-tertiary: #f5f5f5;
  --bg-active: #eff6fc;
  --bg-active-secondary: #f3f2f1;
  --bg-active-tertiary: #f3f2f1;
  --bg-separator: #e1dfdd;
  --bg-border: #e1dfdd;
  --bg-scrollbar: #edebe9;
  --bg-shadow: rgba(0, 0, 0, 0.1);
  --bg-brand: #2564cf;
  --bg-brand-hover: #215aba;
  --bg-brand-hover-secondary: #8c93a5;
  --bg-brand-secondary: #ecf6fd;
  --bg-brand-disable: #b7d7f6;
  --font-color-primary: #292827;
  --font-color-secondary: #605e5c;
  --font-color-tertiary: #4d4b4a;
  --font-color-warning: #a80000;
  --font-color-brand: #2564cf;
  --font-color-disable: #a19f9d;
  --bg-ms-planner: #31752f;
  --bg-ms-one-note: #7719aa;
  --bg-ms-excel: #107c41;
  --bg-ms-word: #185abd;
  --bg-ms-power-point: #c43e1c;
  --bg-ms-teams: #6355a8;
  --bg-ms-loop: #8230ff;
  --bg-warning: #fff4ce;
  --bg-error: #fed9cc;

  --ff-primary: 'Roboto';

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/
.dark-mode {
  --list-theme-skyblue-top: #333;

  --list-theme-blue-primary-0: #78bafd;
  --list-theme-blue-primary-10: #78bafd;
  --list-theme-blue-primary-20: #78bafd;
  --list-theme-blue-contrast-highlight-quick-fix: #78bafd;
  --list-theme-blue-top: #78bafd;
  --list-theme-blue-bottom: #78bafd;
  --list-theme-blue-top-minimized: #78bafd;
  --list-theme-blue-bottom-minimized: #78bafd;
  --bg-primary: #252423;
  --bg-secondary: #11100f;
  --bg-tertiary: #252423;
  --bg-primary-accent: rgba(32, 31, 30, 0.8);
  --bg-hover: #323130;
  --bg-hover-secondary: #292827;
  --bg-hover-tertiary: #323130;
  --bg-active: #3b3a39;
  --bg-active-secondary: #3b3a39;
  --bg-active-tertiary: #3b3a39;
  --bg-separator: #484644;
  --bg-border: #605e5c;
  --bg-scrollbar: #484644;
  --bg-brand: #78bafd;
  --bg-brand-hover: #78bafd;
  --bg-brand-secondary: #071327;
  --bg-brand-hover-secondary: #1890f1;
  --bg-brand-disable: #1b1a19;
  --font-color-primary: #fff;
  --font-color-secondary: #a19f9d;
  --font-color-tertiary: #dbdbdb;
  --font-color-warning: #f1707b;
  --font-color-brand: #78bafd;
  --font-color-disable: #a19f9d;
  --bg-warning: #433519;
  --bg-error: #4f2a0f;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize !important;
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--bg-border);
    border-radius: 50rem;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--bg-brand-hover-secondary);
  }
}
::selection {
  background: inherit;
}

body {
  font-family: var(--ff-primary);
  background: var(--bg-secondary);
  color: var(--font-color-primary);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  font-weight: 300;
}
input {
  text-transform: lowercase !important;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
